/*--------------------------------------default settings*/
body {
   
   color: #000;
}

section {
   padding-bottom: 50px;
   background-image: url("assets/images/police.jpg");
   background-size: contain;
   background-attachment: fixed;
   background-position: top;
}
button {
   border-radius: 5px;
   background-color: gray;
   color: white;
}
.button-position {
   display: inline-block;
   margin-left: 15px;
   float: left;
   margin-top: 5px;
   position:absolute ;
   left: 30px;
}

.btn-hidden {
   display: none;
   margin-left: 15px;
}

.offence-display-number {
   font-size: 50px;
}

.fa-question-circle {
   position: absolute;
   right: 30px;
   margin-top: 10px;
   color: black; 
   font-size: 18px;
}
.centering {
   margin: 0 auto;
   
}

.inline-block {
   display: inline-block;
}

.text-center {
   text-align: center;
}

.row {
   margin :20px auto;
}

.bgc-w {
   background-color: rgba(255,255,255,0.8);
   padding: 20px 0;
}

.chart-head{
   background-color: rgb(31, 119, 180);
   border-bottom: 2px solid gray;
}

.reset-margin-top {
   margin-top: 0px;
}


/*---------------------------------------default settings*/

/*-----------------------------------------------headings*/

h1 {

   margin: 20px auto 0px auto;
   color: white;
}

h5 {
   margin: 10px 0;
   font-weight: bold;
}

/*------------------------------------------------headings*/

/*-------------------------------dc chart default settings*/

.dc-chart {
   background-color: transparent;
}
.text {
   color: black;
}
.text .x.axis text {
   text-anchor: end !important;
   transform: rotate(-60deg);
   fill: #000;
   font-weight: bold;
}

.number-display{
   
   margin-top: 50px;
}

.dc-chart g.row text {
    fill: black;
    font-weight: bold;
}

.dc-chart .pie-slice {
   fill: black;
    font-weight: bold;
}
.dc-chart .grid-line line {
   stroke: #000;
}

.dc-chart rect.bar {
   
}

/*----------------------------------dc chart default settings*/






/*/////////////////////Suburb selector///////////////////////////////////////*/
.suburb-selector-1 {
   float: none !important;
}

.description-container-hidden {
   
   display: none;
   
}

.description-container-show {
   position: absolute;
   background-color: white;
   display: block;
   z-index: 2;
   border: 1px solid #000;
   transform: translate(-100%, -150%);
   
   width: 200px;
}



/*/////////////////////Suburb selector///////////////////////////////////////*/

/*/////////////////////Offence Count///////////////////////////////////////*/
#offence-count-2{
   padding: 28px 50px;
}
/*/////////////////////Offence Count///////////////////////////////////////*/


/*/////////////////////Offence Description 3 Bar Chart///////////////////////////////////////*/

text .y-axis-label .y-label {
   font-weight: bold !important;
}

/*/////////////////////Offence Description 3 Bar Chart///////////////////////////////////////*/

/*/////////////////////Suburb chart///////////////////////////////////////*/

.suburb-chart-outer-container {
   
   
   overflow: hidden;
   overflow-x: scroll;
   border: 1px solid #000;
}

.suburb-head {
  
   
   
}


/*/////////////////////Suburb chart///////////////////////////////////////*/

/*/////////////////////timeline chart///////////////////////////////////////*/





/*/////////////////////timeline chart///////////////////////////////////////*/

/*/////////////////////Day Percentages///////////////////////////////////////*/
.days-container {
   padding-top: 80px;
   
   text-align: left;
   background-color: transparent;
   width: 180px;
}
@media (min-width: 0) and (max-width: 1200px) {
   .days-container {
   padding-top: 20px;
   width: 90%;
   text-align: left;
   background-color: transparent;
   
}
.inline-block-max-1200 {
   display: inline-block;
}
}

.day {
   width: 15px;
   height: 15px;
   display: inline-block;
   margin-left: 15px;
   margin-right: 10px;
}

.day-text {
   font-weight: bold;
   display: inline-block;
   margin-bottom: 0;
   color: black;
}

.day-percent {
   float: none !important;
   color: black;
   
}

.monday {
   background-color: blue;
}

.tuesday {
   background-color: red;
}

.wednesday {
   background-color: green;
}

.thursday {
   background-color: purple;
}

.friday {
   background-color: #000;
}

.saturday {
   background-color: pink;
}

.sunday {
   background-color: orange;
}


/*/////////////////////Day Percentages///////////////////////////////////////*/


